TITANIC 2

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [2]:
train = pd.read_csv("C:/Users/done-/Desktop/train2.csv")
test = pd.read_csv("C:/Users/done-/Desktop/test2.csv")

In [3]:
train.head()

,row ID,Survived,Pclass,SibSp,Parch,Fare,Embarked,Sex_female,Sex_male,PassengerId,Age
0,5,0,2,0,0,8.4583,1,0,1,6,28.625
1,17,1,1,0,0,13.0000,2,0,1,18,30.625
2,19,1,2,0,0,7.2250,0,1,0,20,21.500
3,26,0,2,0,0,7.2250,0,0,1,27,28.000
4,28,1,2,0,0,7.8792,1,1,0,29,22.125

In [4]:
test.head()

,row ID,Pclass,SibSp,Parch,Fare,Embarked,Sex_female,Sex_male,PassengerId,Age
0,10,2,0,0,7.8958,2,0,1,902,24.925485
1,22,0,0,0,31.6833,2,1,0,914,38.341089
2,29,2,2,0,21.6792,0,0,1,921,22.300009
3,33,2,1,2,23.4500,2,1,0,925,20.397264
4,36,2,0,0,8.0500,2,1,0,928,23.214027

TOLGO I VALORI DI AGE < 0, CALCOLATI TRAMITE UNA REGRESSIONE FATTA UTILIZZANDO IL SOFTWARE KNIME, CHE AVEVA AGE APPUNTO COME TARGET, PER RIMUOVERE I MISSING VALUE

In [5]:
for i in train.index:
    if train["Age"].iloc[i] < 0:
        train["Age"].iloc[i] = 1

D:\Programmi\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [6]:
train["Age"].describe()

count    891.000000
mean      29.333244
std       13.619639
min        0.420000
25%       21.000000
50%       28.625000
75%       36.625000
max       80.000000
Name: Age, dtype: float64

FACCIO STESSA COSA PER IL TEST

In [7]:
for i in test.index:
    if test["Age"].iloc[i] < 0:
        test["Age"].iloc[i] = 1
test["Age"].describe()

count    418.000000
mean      29.334250
std       13.013593
min        0.170000
25%       22.000000
50%       25.000000
75%       36.375000
max       76.000000
Name: Age, dtype: float64

In [8]:
train = train.sort_values(["PassengerId"], ascending = True)
test = test.sort_values(["PassengerId"], ascending = True)

In [9]:
train.drop(["row ID"], axis = 1, inplace = True)
train.head()

,Survived,Pclass,SibSp,Parch,Fare,Embarked,Sex_female,Sex_male,PassengerId,Age
177,0,2,1,0,7.2500,2,0,1,1,22.0
178,1,0,1,0,71.2833,0,1,0,2,38.0
179,1,2,0,0,7.9250,2,1,0,3,26.0
180,1,0,1,0,53.1000,2,1,0,4,35.0
181,0,2,0,0,8.0500,2,0,1,5,35.0

In [10]:
test.drop(["row ID"], axis = 1, inplace = True)
test.head()

,Pclass,SibSp,Parch,Fare,Embarked,Sex_female,Sex_male,PassengerId,Age
86,2,0,0,7.8292,1,0,1,892,34.5
87,2,1,0,7.0000,2,1,0,893,47.0
88,1,0,0,9.6875,1,0,1,894,62.0
89,2,0,0,8.6625,2,0,1,895,27.0
90,2,1,1,12.2875,2,1,0,896,22.0

MODELLING

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
import xgboost as xgb
import lightgbm as lgb

In [13]:
test_id = test["PassengerId"]
test.drop(["PassengerId"], axis = 1, inplace =True)
train.drop(["PassengerId"], axis = 1, inplace =True)

In [16]:
target_train = train.Survived.values
train.drop(["Survived"], axis = 1, inplace = True)

In [17]:
X = train
y = target_train

In [18]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=0)

In [ ]:
REGRESSIONE LOGI

In [19]:
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [20]:
pred = model.predict(x_test)
acc_log_reg = round(model.score(x_train, y_train) * 100, 2)

In [21]:
acc_log_reg

81.18

SVM

In [22]:
model1 = SVC()
model1.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [23]:
pred1 = model1.predict(x_test)
acc_SVC = round(model1.score(x_train, y_train) * 100, 2)
acc_SVC

92.7

RANDOM FOREST

In [24]:
model2 = RandomForestClassifier()
model2.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [25]:
pred2 = model2.predict(x_test)
acc_RF = round(model2.score(x_train, y_train) * 100, 2)
acc_RF

97.19

In [ ]:
PERCEPTRON

In [26]:
model3 = Perceptron()
model3.fit(x_train, y_train)

D:\Programmi\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

Perceptron(alpha=0.0001, class_weight=None, eta0=1.0, fit_intercept=True,
      max_iter=None, n_iter=None, n_jobs=1, penalty=None, random_state=0,
      shuffle=True, tol=None, verbose=0, warm_start=False)

In [27]:
pred3 = model3.predict(x_test)
acc_percep = round(model3.score(x_train, y_train) * 100, 2)
acc_percep

64.75

In [ ]:
DECISION TREE

In [28]:
model4 = DecisionTreeClassifier()
model4.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [29]:
pred4 = model4.predict(x_test)
acc_dtc = round(model4.score(x_train, y_train) * 100, 2)
acc_dtc

98.88

NEURAL NET

In [30]:
from sklearn.neural_network import MLPClassifier

In [31]:
model5 = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(10, 5), random_state=1)

In [32]:
model5.fit(x_train, y_train)
pred5 = model5.predict(x_test)
acc_neuralnet = round(model5.score(x_train, y_train) * 100, 2)
acc_neuralnet

82.87

XGBOOST

In [37]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [38]:
xmodel = XGBClassifier()
xmodel.fit(x_train, y_train)
print(xmodel)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [39]:
xpred = xmodel.predict(x_test)
acc_xgboost = round(xmodel.score(x_train, y_train) * 100, 2)
acc_xgboost

D:\Programmi\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
D:\Programmi\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

88.48

SUBMISSION XGBOOST

In [43]:
test_pred = xmodel.predict(test)
submission_xgboost = pd.DataFrame({"Survived" : test_pred}, index = test_id)
submission_xgboost.to_csv("submission_xgboost.csv")
submission_xgboost.head()

D:\Programmi\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 1

SUBM RANDOM FOREST

In [44]:
test_pred2 = model2.predict(test)
submission_RAF = pd.DataFrame({"Survived" : test_pred2}, index = test_id)
submission_RAF.to_csv("submission_RAF.csv")
submission_RAF.head()

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 1
896                 0

SUBM DECISION TREE

In [45]:
test_pred3 = model4.predict(test)
submission_DTR = pd.DataFrame({"Survived" : test_pred3}, index = test_id)
submission_DTR.to_csv("submission_DTR.csv")
submission_DTR.head()

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 1
896                 0